metadata:
  namespace: {{ CONDUCKTOR_NS }}
  releaseName: {{ CI_PROJECT_NAME }}-stg
  releaseVersion: {{ RELEASE_VERSION }}
  target: {{ CONDUCKTOR_TARGET }}
  iamRole: null
replicaCount: 1
nodeLabel: agent
image:
  repository: {{ CI_REGISTRY_IMAGE }}:{{ RELEASE_VERSION }}
  pullPolicy: Always
  pullSecrets:
    - name: gitlab-docker-registry-token
container:
  multiPorts:
    - name: admin
      containerPort: 4000
      protocol: TCP
  healthcheck:
    path: /health
    scheme: HTTP
    portName: admin
resources:
  requests:
    cpu: 0.1
    memory: 16Mi
  limits:
    cpu: 1
    memory: 1024Mi
variables: null
volumeMaps: null
persistentVolumeClaims: null
secrets: null
secretMaps: null
configMaps: null
envFrom:
  configMaps: []
  secrets: ['qlkube-env-vars']
ingress:
  enabled: true
  ingressType: HTTP
  applicationType: internal
  serviceEndpoint: stg-qlkube.web.css.kube.t-mobile.com
  multiPaths:
    - path: /
      portName: admin
tls:
  enabled: true
  secretName: "conducktor-certificate"
autoscale:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  cpuAverageUtilization: 50
telemetry:
  enabled: false
  path: /prometheus
  port: "8080"
  scheme: HTTP
global:
  ttl: 10d
  expiresAt: ""
annotations:
  deployment:
    swaggerUri: ""
openTelemetry:
  enabled: false
  exporterOtlpEndpoint: ""
  resourceAttributes: ""
