.util {
  bottom: 0px;
  transition:  250ms;
}
.util2 {
  bottom: -98px;
  transition: 250ms;
}
.util .up {
  bottom: -40px;
}

.cDown {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition:  400ms;
}

.cUp {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition:  400ms;
}